# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Mac
.DS_Store

# Editor
.vscode/
.idea/

# Coverage
coverage/
staged/
uploads/

# Env
.env
.env.*

# Logs
logs/
*.log

# Env overrides
env.local.js
